.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: lightgreen;
}

.left-container {
  width: 50%;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.right-container {
  width: 50%;
  margin: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px
}

a {
  text-decoration: none;
  color: gray
}

.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.scroll-container img {
  padding: 10px;
}

button {
  width: 60%;
  height: 40px;
  margin-top: 10px;
  outline: none;
  border: none;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.border {
  border-bottom: 1px solid gray
}

.footer {
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
  margin: 20px;
}

input {
  margin-top: 10px;
  height: 27px;
  outline: none;
  font-size: 1.1rem
}