.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: lightgreen;
}

.left-container {
  flex: 1;
  flex-direction: column;
  width: 50%;
  margin: 20px;
  justify-content: center;
  align-self: flex-start;
  margin-top: 120px;
}

.right-container {
  width: 40%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px
}

a {
  text-decoration: none;
  color: gray
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}



.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

button {
  width: 60%;
  height: 40px;
  margin-top: 10px;
  outline: none;
  border: none;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.border {
  border-bottom: 1px solid gray
}

.footer {
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
  margin: 20px;
}

input {
  margin-top: 10px;
  height: 27px;
  outline: none;
  font-size: 1.1rem
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

@media only screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }
}